@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Outfit:wght@600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

img { max-width: 100%; height: auto; }
